<h1>EDIT JAB PAGE</h1>


<form action="/jabs" <%= @jab.id%> method="POST">
<input id="hidden" type= "hidden" name="_method"
value="PATCH">
<p>title: <input type="text" name="jabs[title]" 
value="<%= @jab.title%>" /></p>
<p>subject: <input type="text" name="jabs[subject]" 
value="<%= @jab.subject%>" /></p>
<p>content: <input type="text" name="jabs[content]" 
value="<%= @jab.content%>" /></p>

<input type="submit" value="Create my jab plz">
</form>

