<h1><div align = "middle">JABS THROWN</h1> 



<div>

<% if @jabs.length > 0 %>
    <% @jabs.each do |jab| %>

<h4><%= jab.title%></h4>
    <p>subject: <%= jab.subject%></p>

<p><%= jab.content%></p>
        <a href="/jabs/<%= jab.id %>">show</a>
    <% end %>
        <% else %>
<h5> You have been jabbed!</h5>
    <%end%>
</div>