<h1>JAB OR COUNTER YOUR OPPONENT</h1>



<form action="/jabs" method="POST">
<p>title: <input type="text" name="jabs[title]" /></p>

<p>subject: <input type="text" name="jabs[subject]" /></p>
<p>content: <input type="text" name="jabs[content]" /></p>

<input type="submit" value="Jab your opponent">

</form>