<h1>A NEW CHALLENGER APPROACHES</h1>



<form action="/sign_up" method="POST">

        <p>Email: <input type="text" name="user[email]" /></p>

        <p>Username: <input type="text" name="user[username]" /></p>

        <p>Password: <input type="password" name="user[password]" /></p>

        <p>Password confirmation: <input type="password" name="user[password_confirmation]" /></p>

    <input type="submit" value="Sign up">
</form>